@charset "utf-8";
@import url(common/reset.css);

.section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section .sec-con{
    flex: 0 1 1600px;
    border: 1px solid;
    box-sizing: border-box;
}
.section .sec-con ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section .sec-con ul>li{
    flex: 0 1 24.5%;
    margin: 0.3% 0;
}
.section .sec-con ul>li img{
    width: 100%;
    height: 300px;
    display: block;
}
.section .sec-con ul>li p{
    background-color:rgb(145, 98, 58);
    color: aliceblue;
    text-align: center;
}

.popup{
            
    width: 0;
    height: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    /* display: none; */
    opacity: 0;
}
.popup .pop-con{
    flex: 0 1 400px;
    height: auto;
    position: absolute;
    /* left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); */
    /* border: 1px solid #fff; */
}
.popup img{
    width: 100%;
    height: auto;
    display: block;
}

.pop-animation{
    transition: all 0.5s;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 1;
}

/* .on{
    transform: scale(1.3);
} */